In [16]:
import pandas as pd
a=pd.read_csv('file.csv',header=None,index_col=0,names=["name","price"])
a

     name  price
0   Apple    123
1  Orange    456
2  Grapes    231
3  Papaya    789

In [23]:
a['name']

KeyError: 'name'

In [15]:
a=pd.read_csv("file.csv",usecols=[2],header=None)
a

     2
0  123
1  456
2  231
3  789

In [20]:
b=pd.read_csv("file.csv",sep=".",header=None)
b

   0       1    2
0  0   Apple  123
1  1  Orange  456
2  2  Grapes  231
3  3  Papaya  789

In [24]:
c=pd.read_csv("file.csv",header=None)
c

              0
0   0.Apple.123
1  1.Orange.456
2  2.Grapes.231
3  3.Papaya.789